@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("https://rsms.me/inter/inter.css");

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  text-transform: unset !important;
}

html {
  font-family: "Inter", sans-serif;
  font-variant-numeric: slashed-zero;
  background-color: #090030;
}

.wrapper {
  background-color: rgb(var(--v-theme-surface)) !important;
}

.v-toolbar {
  flex: unset !important;
  position: relative !important;
}

.v-toolbar__content {
  padding: 10px 0 !important;
  height: unset !important;
}

.v-container.fill-height {
  height: unset !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.v-main {
  position: relative !important;
  padding: 20px 0px 0px !important;
}

.h1 {
  font-size: 2.5rem !important;
}

.h2 {
  font-size: 2rem !important;
}

.h3 {
  font-size: 1.75rem !important;
}

.h4 {
  font-size: 1.5rem !important;
}

.h5 {
  font-size: 1.25rem !important;
}

.h6 {
  font-size: 1rem !important;
}

.text-small {
  font-size: smaller !important;
}

th,
td {
  white-space: nowrap !important;
}

.v-menu .v-overlay__content > .v-card,
.v-menu .v-overlay__content > .v-sheet,
.v-menu .v-overlay__content > .v-list {
  background: rgb(var(--v-theme-surface));
  border-radius: inherit;
  overflow: auto;
  height: 100%;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 0px 1px rgb(0 0 0 / 14%), 0px 2px 2px 1px rgb(0 0 0 / 12%);
}

.v-dialog .v-overlay__content {
  width: 95%;
}

@media (min-width: 576px) {
  .v-dialog .v-overlay__content {
    width: 500px;
  }
}

@media (min-width: 992px) {
  .v-dialog .v-overlay__content {
    width: 600px;
  }
}
